<div class="w-75 d-column mb-3">
  <h1 class="text-center new-post">Edit or Delete your Post:</h1>
  <div class="main-post m-2">
    <header class="d-flex justify-content-between align-items-start post-header">
      <h3 class="p-2 h3-post">
        {{post.title}}
      </h3>
      <p class="p-2">Created by {{post.user.userName}} on {{format_date post.dateCreated}}</p>
    </header>
    <p class="p-3">
      {{post.content}}
    </p>
  </div>