h1.jumbo {
    font-family: 'Merienda', cursive;
    font-size: 90px;
}

h1.new-post {
    font-family: Arial, Helvetica, sans-serif;
}

header.top {
    background-color: rgb(156, 17, 17);
}
header.post-header {
    background-color: rgb(180, 173, 173);
}